*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    background-image: url("stars.jpg")
}

.topbar {
    background-color: #333;
    padding: 10px;
    width: 100%; 
}

#timer {
    float: right;
    color: #eee;
}

.hide {
    display: none;

}

.center {
    text-align: center;
}

.maintitle {
    color: lightblue;
    font-size: 48px;
    font-weight: bolder;
}

.subtitle {
    color: lightblue;
    font-size: 32px;
    font-weight: bold;
}

.promoText {
    color: lime;
    font-size: 24px;
}

.btnFrame {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnStart {
    padding: 20px;
    font-size: 30px;
    background-color: #666;
    border-color: #eee;
    border-radius: 40px;
}

.question {
    color: royalblue;
    font-size: 24px;
}

.answerBox {
    margin: 50px auto;
    justify-content: center;
}

.answerBtn {
    margin: 12px 40%;
    width: 20%;
    font-size: 24px;
    padding: 16px;
    border-radius: 32px;
}

#highscoreList {
    
    text-align: center;
    color: lime;
}

.score {
    padding: 8px;
    font-size: 16px;
    border-radius: 16px;
    width: 50%;
}

a {
    color: #eee;
}

#checker {
    text-align: center;
    width: 25%;
    padding: 20px;
    margin: 20px auto;
}